* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .about-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #f0f0f0;
  }
  
  .about-section img {
    max-width: 50%;
    height: auto;
    margin-right: 20px;
  }
  
  .about-text {
    flex: 1;
  }
  
  .about-text h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .about-text p {
    font-size: 16px;
    line-height: 1.6;
  }
  
  /* Add media queries for responsiveness */
  @media screen and (max-width: 600px) {
    .about-section {
      flex-direction: column;
      text-align: center;
    }
  
    .about-section img {
      margin-bottom: 20px;
    }
  }
  